
*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
*.txt
*.xml
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

.DS_Store
.clang-format
.gitattributes
.mailmap
AUTHORS
CHANGES.html
CONTRIBUTING.md
LICENSE
Makefile
RELEASE_NOTES
VERSION
*.supp
waf
*.bat
wscript
*.py

.vscode/
bindings/
contrib/
doc/
examples/
src/
utils/